{% load staticfiles %}
<html>

<head>
    <title>Rails seviyorum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script> 
</head>

<body>
    <div class="page-header text-center">
        <h2>
            <a href="">Gokhan'ın ilk Django Blogu</a>
        </h2>
    </div>
    <div class="container  wrapper">
        <div class="row">
            </div>
            <div class="col-12">            
                {% block content %}
        </div>
        {% endblock %}
    </div>
</body>

</html>