{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}


<div class="card mb-3">
    
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h5>
        <p class="card-text">{{ post.text|linebreaksbr }}</p>
        <p class="card-text">
            <small class="text-muted">{{ post.published_date }} </small>
        </p>
        <p class="card-text">
            <p class="text-muted">{{post.author}} </p>
        </p>
    </div>
</div>

{% endfor %} {% endblock %}