{% extends 'blog/base.html' %} {% block content %} 
<div class="post">
    <div class="continer">
        <div class="row">
            {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
            {% endif %}
            <div class="col-12">
                <h1 class="text-center">{{ post.title }}</h1>
                <img src="{{ post.image.url }}" width="200px" height="200px" alt="">
                <div class="col-12">{{ post.text }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}